repurpose-hub-backend/env
repurpose-hub-backend/__pycache__/*
repurpose-ml/env
repurpose-ml/__pycache__/*
repurpose-ml/static/*
repurpose-hub/skills/
repurpose-hub/.*/
repurpose-ml/__pycache__/*
repurpose-ml/static/*
