repurpose-hub-backend/env
repurpose-ml/env
repurpose-ml/static/*
repurpose-hub/skills/
repurpose-hub/.*/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.env
.venv/
venv/
ENV/
